<div class="footer-nav-group">
  <div class="footer-nav-col">
    <h3 class="nav-col-title">Documentation</h3>
    <ul class="nav-col-list">
      <li><a href={`${import.meta.env.BASE_URL}about/`}>About</a></li>
      <li><a href={`${import.meta.env.BASE_URL}v2/`}>API v2</a></li>
      <li>
        <a href={`${import.meta.env.BASE_URL}v2/openapi/`}>OpenAPI</a>
      </li>
      <li>
        <a href={`${import.meta.env.BASE_URL}graphql/`}>GraphQL v1Beta</a>
      </li>
    </ul>
  </div>

  <div class="footer-nav-col">
    <h3 class="nav-col-title">Community</h3>
    <ul class="nav-col-list">
      <li>
        <a href="https://github.com/PokeAPI/pokeapi" target="_blank" rel="noopener">Source Code</a>
      </li>
      <li>
        <a href="https://github.com/PokeAPI/pokeapi/graphs/contributors" target="_blank" rel="noopener">Contributors</a>
      </li>
      <li>
        <a href="https://github.com/PokeAPI/pokeapi/discussions" target="_blank" rel="noopener">Discussions</a>
      </li>
      <li>
        <a href="https://github.com/PokeAPI/pokeapi/issues" target="_blank" rel="noopener">Report Issues</a>
      </li>
    </ul>
  </div>

  <div class="footer-nav-col">
    <h3 class="nav-col-title">Resources</h3>
    <ul class="nav-col-list">
      <li>
        <a href="https://github.com/PokeAPI/sprites" target="_blank" rel="noopener">Sprites</a>
      </li>
      <li>
        <a href="https://github.com/PokeAPI/cries" target="_blank" rel="noopener">API Data</a>
      </li>
      <li>
        <a href="https://pokeapi.statuspage.io/" target="_blank" rel="noopener">Status Page</a>
      </li>
      <li>
        <a href="https://github.com/PokeAPI/pokeapi/blob/master/LICENSE.md" target="_blank" rel="noopener">License</a>
      </li>
    </ul>
  </div>
</div>
